<h5>Chiled Page - Loan Approval</h5>
<h2>Total Sum of Loan: {{loanTotalAmount}}</h2>
<table border="1"
       cellspacing="0"
       cellpadding="2">
  <tr>
    <th>EmpId</th>
    <th>EmpName</th>
    <th>IsReviewer</th>
    <th>IsApprover</th>
    <th>IsCompleted</th>
    <th>LoanLimit</th>
  </tr>
  <tr *ngFor="let emp of empListDataFromParent">
    <td>{{emp.EmpId}}</td>
    <td>{{emp.EmpName}}</td>
    <td>{{emp.IsReviewer}}</td>
    <td>{{emp.IsApprover}}</td>
    <td>{{emp.IsCompleted}}</td>
    <td>{{emp.LoanLimit}}</td>
  </tr>
</table>

<!-- <ul>
  <li *ngFor="let emp of empList">{{emp.EmpName}},.... IsRev: {{emp.IsReviewer}}; IsApprover:{{emp.IsApprover}};
    LoanLimit: {{emp.LoanLimit}}</li>
</ul> -->

<hr />

<table border="1"
       cellspacing="0"
       cellpadding="2">
  <tr>
    <th>#</th>
    <th>Emp</th>
    <th>Is Done</th>
  </tr>
  <tr>
    <td>Rev-1</td>
    <td>
      <select name="emp"
              id="{{_REV1}}"
              [disabled]="IsDdDisabledRev1"
              (change)="OnReviewerApproverChange($event, $event.target.value)">
        <option value="-1">--Select--</option>
        <option *ngFor="let emp of empListRevwr_1"
                [selected]="emp.EmpId==selectedEmpIdRev1"
                value="{{emp.EmpId}}">{{emp.EmpName}}</option>
      </select>
    </td>
    <td><input type="radio"
             name="rev-1"
             id="rev-1-yes"
             [disabled]="IsRadioDisabledRev1"
             (click)="OnCheckBoxClick($event)"
             [checked]="Rev_1_IsComplete">Yes
      <input type="radio"
             name="rev-1"
             id="rev-1-no"
             [disabled]="IsRadioDisabledRev1"
             (click)="OnCheckBoxClick($event)"
             [checked]="!Rev_1_IsComplete">No</td>
  </tr>
  <tr>
    <td>Rev-2</td>
    <td>
      <select name="emp"
              id="{{_REV2}}"
              [disabled]="IsDdDisabledRev2"
              (change)="OnReviewerApproverChange($event, $event.target.value)">
        <option value="-1">--Select--</option>
        <option *ngFor="let emp of empListRevwr_2"
                [selected]="emp.EmpId==selectedEmpIdRev2"
                value="{{emp.EmpId}}">{{emp.EmpName}}</option>
      </select>
    </td>
    <td><input type="radio"
             name="rev-2"
             id="rev-2-yes"
             [disabled]="IsRadioDisabledRev2"
             (click)="OnCheckBoxClick($event)"
             [checked]="Rev_2_IsComplete">Yes
      <input type="radio"
             name="rev-2"
             id="rev-2-no"
             [disabled]="IsRadioDisabledRev2"
             (click)="OnCheckBoxClick($event)"
             [checked]="!Rev_2_IsComplete">No</td>
  </tr>
  <tr>
    <td>Approver-1</td>
    <td>
      <select name="emp"
              id="{{_APPRV1}}"
              (change)="OnReviewerApproverChange($event, $event.target.value)">
        <option value="-1">--Select--</option>
        <option *ngFor="let emp of empListApprover_1"
                [selected]="emp.EmpId==selectedEmpIdApprvr1"
                value="{{emp.EmpId}}">{{emp.EmpName}}</option>
      </select>
    </td>
    <td><input type="radio"
             name="appr-1"
             id="appr-1-yes"
             (click)="OnCheckBoxClick($event)"
             [checked]="APPRV_1_IsComplete">Yes
      <input type="radio"
             name="appr-1"
             id="appr-1-no"
             (click)="OnCheckBoxClick($event)"
             [checked]="!APPRV_1_IsComplete">No</td>
  </tr>
  <tr>
    <td>Approver-2</td>
    <td>
      <select name="emp"
              id="{{_APPRV2}}"
              (change)="OnReviewerApproverChange($event, $event.target.value)">
        <option value="-1">--Select--</option>
        <option *ngFor="let emp of empListApprover_2"
                [selected]="emp.EmpId==selectedEmpIdApprvr2"
                value="{{emp.EmpId}}">{{emp.EmpName}}</option>
      </select>
    </td>
    <td><input type="radio"
             name="appr-2"
             id="appr-2-yes"
             (click)="OnCheckBoxClick($event)"
             [checked]="APPRV_2_IsComplete">Yes
      <input type="radio"
             name="appr-2"
             id="appr-2-no"
             (click)="OnCheckBoxClick($event)"
             [checked]="!APPRV_2_IsComplete">No</td>
  </tr>
</table>
